body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  margin: 0; /* Remove default margin */
}

header{
background: rgb(37, 71, 71);
padding: 10px;
color: yellow;
}



ul {
  list-style: none; /* Remove default list styles */
  display: flex;    /* Make the list items flex containers */
  padding: 30;       /* Remove default padding */
}


/* Apply styles to list items */
li {
  margin-right: 30px; /* Add some spacing between list items (adjust as needed) */
}


  

footer {
  background: rgb(37, 71, 71);
  color:yellow;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}